body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.slider-container {
  width: 80%;
  margin: 50px auto;
}

.slider img {
  width: 100%;
  display: block;
}

.slide {
  background: #1D2F30;
  display: flex;
  margin-right: 15px;
}

.image {}

.info {
  margin-top: 16px;
  margin-left: 16px;
}

.title {
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
}

.text {
  color: #899D9D;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
width: 223px;
height: 168px;
margin-top: 8px;
}

.button-box {
  width: 145px;
  height: 45px;
  display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
border: 1px solid #BAE249;
margin-top: 16px;
margin-bottom: 24px;
}

.button {
  color: #BAE249;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
}